#button, #textfield, #menuButton {
  z-index: 1;
}

html, body {
  overflow: hidden;
  margin: 0;
}

/* menuButton */
#menuButton {
  top: 20px;
  right: 20px; 
  position: fixed;
}

/* Menu */
#menu {
  width: 340px;
  height: 0px;
  z-index: 1;
  right: 20px;
  top: 70px;
  position: fixed;
}

#button1 {
  left: 280px;
  top: 10px; 
  position: absolute;
}

#cameraResetButton {
  top: 10px;
  left: 101px;
  position: absolute;
}

#textField1 {
  left: 90px;
  width: 170px;
  position: absolute;
}

#textField2 {
  left: 158px;
  top: 16px;
  position: absolute;
}

.summaryPanel {
  height: 60px;
}

#filesContainer {
  left: 90px;
  width: 100px; 
  position: absolute;
}

#typography1 {
  left: 120px;  
  top: 20px; 
  width: 100px; 
  position: absolute;
}

/* coordinatesForm*/
#coordinatesForm {
  left: 0px;
  top: 30px;
  width: 80px;
  height: 100px;
  position: fixed;
}

#xInput {
  width: 50px;
  top: -16px;
  left: 20px;
  position: absolute;
}

#yInput {
  width: 50px;
  top: -4px;
  left: 20px;
  position: absolute;
}

#zInput {
  width: 50px;
  top: 8px;
  left: 20px;
  position: absolute;
}

#xInputHelp {
  top: 0px;
  left: 4px;
  position: absolute;
}

#yInputHelp {
  top: 32px;
  left: 4px;
  position: absolute;
}

#zInputHelp {
  top: 64px;
  left: 4px;
  position: absolute;
}

/* nameInput*/
#nameInput {
  left: 25px;
  top: 30px;
  width: 200px;
  height: 50px;
  position: fixed;
}

/* objectManipulationMenu*/
#objectManipulationMenu {
  left: 23px;
  top: -70px;
  width: 80px;
  height: 135px;
  position: fixed;
}

#addLineButton {
  top: 26px;
  left: 38px;
  position: absolute;
}

#addItemButton {
  top: 4px;
  left: 0px;
  position: absolute;
}

#editTextButton {
  top: 48px;
  left: 0px;
  position: absolute;
}

#remItemButton {
  top: 92px;
  left: 0px;
  position: absolute;
}

#editPlaceButton {
  top: 70px;
  left: 38px;
  position: absolute;
}